body {
  background-color: #343a40; 
}

/* Navbar */

.navbar {
  padding: 10px 0;
  background-color: #0D6EFD;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}


.nav-link {
  color: white;
}


.nav-link.active {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #0D6EFD; 
}

.dropdown-item {
  color: white;
}


.form-control {
  width: 200px; 
}

.btn-outline-success {
  color: white;
  border-color: white;
}


.navbar-nav-scroll {
  max-height: 100px;
  overflow-y: auto;
}

.dropdown-item:hover {
  background-color: #458bfa; 
  color: white; 
}

/* Table */

.table td {
  background-color: #343a40; 
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.form-control::placeholder {
  color: rgb(99, 98, 98); /* Set the placeholder text color to white */
}

.form-control {
  background-color: #343a40; 
  color: white; 
  border-color: #343a40; 
}

.form-control:focus {
  background-color: #272b30; 
  border-color: #343a40; 
  color: white; 
}

.form-control:hover {
  background-color: #272b30; 
  border-color: #343a40; 
  color: white;
}
