.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw; 
  }

.card {
    width: 80vw;
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.d-grid {
    margin-top: 15px;
  }